.treeNodeName {
    margin-left: 4px;
}

.treeNodeBody {
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.activeNode {
    background-color: red;
}

.treeNodeWrap {
    padding: 0px 12px;
}